#Choose the segmentation model here 
modelName = resunet
#Set base filters
base_filters = 30
#Path where the model has to be saved 
folderForOutput = ./model/
#Set the number of classes - including the background class
numberOfOutputClasses = 2
#Number of channels/modalities
numberOfInputChannels = 3
# Patch size during training - 2D patch for breast images since third dimension is not patched 
patch_size = [144,144]
#How many best models to save
save_best = 5
