.git
.github
.gitignore
.gitattributes
docs
samples
testing
venv/*
*venv*
__pycache__
*.egg-info*
*/__pycache__/*
.vscode
*.py.*
*.pkl
*.swp
dist/*
*egg*

*DS_Store
*output*
*experiment*
*exp*
*_build*
*build*
debug.log
vips*
testing/data/*
testing/data_output/*
.coverage
testing/config_segmentation_temp.yaml
testing/failures.log
coverage.xml
mlcube/*