venv/*
venv*
__pycache__
*.egg-info*
*/__pycache__/*
.vscode
*.py.*
*.pkl
*.swp
dist/*

*DS_Store
*output*
*experiment*
*exp*
*_build*
*build*
debug.log
vips*
testing/data/*
testing/data_output/*
.coverage
