venv/*
*venv*
__pycache__
*.egg-info*
*/__pycache__/*
.vscode
*.py.*
*.pkl
*.swp
dist/*
*egg*

*DS_Store
*output*
*experiment*
*exp*
*_build*
*build*
debug.log
vips*
testing/data/*
testing/data_output/*
.coverage
testing/config_segmentation_temp.yaml
testing/failures.log
coverage.xml
mlcube/workspace/*
!mlcube/workspace/config.yml
!mlcube/workspace/channelIDs.yml
tutorials/classification_medmnist_notebook/dataset/pathmnist
tutorials/classification_medmnist_notebook/medmnist/dataset/pathmnist
tutorials/classification_medmnist_notebook/output_stats
# Ingnore any ipynbcheckpoints anywhere
**/.ipynb_checkpoints/*
.jupyter_ystore.db
tutorials/classification_medmnist_notebook/model
tutorials/classification_medmnist_notebook/dataset/*.csv
