[submodule "GANDLF/OPM"]
	path = GANDLF/OPM
	url = https://github.com/CBICA/OPM.git
[submodule "GANDLF/anonymize/dicomanonymizer"]
	path = GANDLF/anonymize/dicomanonymizer
	url = https://github.com/KitwareMedical/dicom-anonymizer.git
