#Set the number of classes - including the background class
n_classes = 2
#Set base filters
base_filters = 30
#Number of channels/modalities
n_channels = 3
#Number of epochs
num_epochs = 600
#Choose the segmentation model here 
which_model = resunet
#Path where the model has to be saved 
model_path = /cbica/home/bhaleram/comp_space/brets/model/ResUNet/Exp_1/
#Set the batch size
batch = 1
#Set the initial learning rate
learning_rate = 1
#Set the log interval i.e. after how many training examples u want to print training loss
log_t = 8
#Set the log interval i.e. after how many training examples u want to print validation loss
log_v = 6
# Set which loss function you want to use - options : 'dc' - for dice only, 'dcce' - for sum of dice and CE and you can guess the next (only lower-case please)
which_loss = dc
# Which optimizer do you want to use - adam/sgd
opt = adam
#How many best models to save
save_best = 5
