name: Lint

on: [push, pull_request]

jobs:
  black:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v4

      - name: Extract black version from setup.py
        run: |
          echo "BLACK_VERSION=$(python -c 'from setup import black_version; print(black_version)')" >> $GITHUB_ENV

      # ensure conformity with https://github.com/mlcommons/GaNDLF/blob/master/setup.py#L77
      - uses: psf/black@23.11.0
        with:
          version: ${{ env.BLACK_VERSION }}

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip==24.0
          python -m pip install black==${{ env.BLACK_VERSION }}
      
      - name: Run tests
        run: |
          python -m black --check .
