# This workflow will test gandlf deploy for model and metrics MLCubes

name: MLCube-Test

on:
  push:
    branches: [master]
  pull_request: {}

jobs:
  test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Call reusable workflow to install dependencies
        uses: ./.github/workflows/dependencies

      - name: Run mlcube deploy tests
        working-directory: ./testing
        if: ${{steps.changed-files-specific.outputs.other_modified_files_count > 0}} # Run on any non-docs change
        run: |
          sh test_deploy.sh
